.profile {
  padding: 40px 0 10px 0;
}

.avatar {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background-image: url(../../images/avatar.png);
  background-size: 100% 100%;
  margin: 0 auto;
}

.title {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: #999;
}