@import './_variables.css';
.buttons {
  padding: 0;
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

.buttons li {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}

.buttons li a {
  padding-left: 25px;
  color: #999;
  display: block;
  transition: color .2s cubic-bezier(.4, .01, .165, .99);
  &:hover {
    color: rgba(153, 153, 153, .8)
  }
}

.buttons li a i {
  font-size: 20px;
  text-align: center;
  width: 25px;
  height: 45px;
  margin-right: 20px;
  display: inline-block;
}

.buttons li .inline {
  display: inline-block;
  width: 40px;
}

.title {
  @media (--medium) {
    display: none;
  }
  @media(--small) {
    display: inline-block;
  }
}