@import './_variables.css';
.header {
  background: #323436;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 5;
  display: none;
  overflow: hidden;
  @media (--small) {
    display: block;
    transform: translate3D(0, 0, 0);
    transition: all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
}

.header a {
  font-size: 1rem;
  vertical-align: top;
  color: #999;
  &:hover {
    color: #999;
  }
}

.show {
  transform: translate3D(250px, 0, 0);
}

.btnBar {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

.btnBar i,
.btnBar:after,
.btnBar:before {
  width: 22px;
  height: 1px;
  position: absolute;
  left: 14px;
  background-color: #999;
  transition: all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s;
}

.btnBar i {
  top: 25px;
  opacity: 1;
}

.btnBar:before {
  content: '';
  top: 17px;
}

.btnBar:after {
  content: '';
  bottom: 16px;
}

.side i {
  opacity: 0;
}

.side:before {
  width: 24px;
  transform: rotate(-45deg);
  top: 25px;
}

.side:after {
  width: 24px;
  transform: rotate(45deg);
  bottom: 24px;
}

.about {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url('../images/avatar.png');
  background-size: 100% 100%;
}